@media only screen and (max-width: 672px) {
    .resim {
        width: 100% !important;
        height: 350px !important;
        position: relative;
        top: 35px;
        right: 20px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {

    .resim {
        width: 100% !important;
        height: 450px !important;
        position: relative;
        right: 50px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {

    .resim {
        width: 100% !important;
        height: 450px !important;
        position: relative;
        right: 50px;
    }
}

.resim {
    margin-left: 50px;
    width: 1000px;
    height: 600px;
}

#ozellikler {
    margin-bottom: 30px;
}

.aciklama {
    border: none !important;
    font-size: 20px;
    width: 50%;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }
